<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeckMaster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeckMaster.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar=toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="background-color: #6E0B14">
                <a 
                    class="navbar-brand" 
                    asp-area="" 
                    asp-controller="Home" 
                    asp-action="Index"
                >
                    <img style="max-width: 70px;" src="~/Images/DeckMasterGrey.png"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="color: #d9d9d9 !important; font-size: 1.3em !important;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="color: #d9d9d9 !important; font-size: 1.3em !important;" asp-area="" asp-controller="UserRole" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="color: #d9d9d9 !important; font-size: 1.3em !important;" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div style="text-align: center; margin-top: 1em;">
            <strong style="line-height: 1em; color:#8b0000;">
                <span style="font-size: 2em;">D</span><span style="font-size: 1.6em;">ECK</span>
                <span style="font-size: 2em;">M</span><span style="font-size: 1.6em;">ASTER</span>
            </strong>
            <div style="font-size: 1.5em; line-height: 0.6em; color:#8b8b8b">You won't find better</div>
        </div>
    </div>
    <hr />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DeckMaster
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
