@model DeckMaster.Models.IPN

@{
    ViewData["Title"] = "Payment Confirmation";
}

<h2>Payment Confirmation</h2>
<div>
    <p>Thank you for your payment!</p>
    <p>Transaction ID: @Model.paymentID</p>
    <p>Amount Paid: @Model.amount</p>
    <p>Payer Name: @Model.payerFirstName @Model.payerLastName</p>
</div>